body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:319px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:55px;
  width:37px;
  height:36px;
  display:flex;
  transition:none;
}
#u804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:131px;
  width:100px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:91px;
  width:0px;
  height:0px;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u806_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:45px;
}
#u806_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:213px;
  width:100px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:157px;
  width:0px;
  height:0px;
  transition:none;
}
#u808_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u808_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:356px;
  width:37px;
  height:36px;
  display:flex;
  transition:none;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:239px;
  width:0px;
  height:0px;
  transition:none;
}
#u810_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u810_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:98px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:174px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:256px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:17px;
  width:99px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:285px;
  width:100px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:311px;
  width:0px;
  height:0px;
  transition:none;
}
#u816_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u816_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:213px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:213px;
  width:100px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:226px;
  width:0px;
  height:0px;
  transition:none;
}
#u819_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:108px;
  height:10px;
}
#u819_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:239px;
  width:0px;
  height:0px;
  transition:none;
}
#u820_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:16px;
}
#u820_seg1 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:6px;
  width:175px;
  height:10px;
}
#u820_seg2 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:0px;
  width:10px;
  height:16px;
}
#u820_seg3 {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:-5px;
  width:20px;
  height:20px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:3px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:247px;
  width:79px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
