.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._形状 {
}
._图片_ {
}
.placeholder {
}
._一级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.table_cell {
}
._线段 {
}
._连接 {
}
.sticky_1 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.flow_shape {
}
.paragraph {
  text-align:left;
}
.shape {
}
.table_cell1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.connector {
}
.icon {
}
.line {
}
.box_2 {
}
.checkbox-check {
}
.checkbox-uncheck {
}
.checkbox-label-uncheck {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:left;
}
.tag {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#409EFF;
  text-align:center;
}
.tag-success {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#67C23A;
  text-align:center;
}
.tag-warning {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#E6A23C;
  text-align:center;
}
.tag-info {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#606266;
  text-align:center;
}
.tag-danger {
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F56C6C;
  text-align:center;
}
.el-shadow {
}
.image {
  color:#000000;
}
.vertical_line {
}
.iconfont {
  font-family:"iconfont", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.table_cell2 {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.box_3 {
}
.paragraph1 {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.label1 {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.ellipse {
}
.box_31 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
.menu_item {
}
.box_21 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
.button {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.image1 {
}
.line1 {
}
.arrow {
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.form_disabled1 {
}
._原型标记-指示元素 {
}
.box_11 {
  font-family:'微软雅黑 Light', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.ellipse1 {
}
.ellipse2 {
}
.icon1 {
}
._默认样式 {
}
.box_32 {
}
.image2 {
}
.icon2 {
}
._底色 {
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#000000;
  text-align:left;
}
._原型标记-指示元素1 {
}
.primary_button {
  color:#FFFFFF;
}
.marker {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.label-___ {
  font-family:'微软雅黑 Light', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
textarea, select, input, button, div, svg { outline: none; }
