body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:359px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:20px;
  width:359px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:129px;
  width:99px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:168px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:248px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:336px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:336px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:428px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:228px;
  width:0px;
  height:0px;
  transition:none;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:308px;
  width:0px;
  height:0px;
  transition:none;
}
#u195_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u195_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:396px;
  width:0px;
  height:0px;
  transition:none;
}
#u196_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u196_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:278px;
  width:0px;
  height:0px;
  transition:none;
}
#u197_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u197_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-5px;
  width:10px;
  height:63px;
}
#u197_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:43px;
  width:20px;
  height:20px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:396px;
  width:0px;
  height:0px;
  transition:none;
}
#u198_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:67px;
}
#u198_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:57px;
  width:85px;
  height:10px;
}
#u198_seg2 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:52px;
  width:20px;
  height:20px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
