body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:581px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:20px;
  width:581px;
  height:76px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:129px;
  width:99px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:168px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:248px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:336px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:228px;
  width:0px;
  height:0px;
  transition:none;
}
#u204_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u204_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:5px;
  width:20px;
  height:20px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:308px;
  width:0px;
  height:0px;
  transition:none;
}
#u205_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u205_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:439px;
  width:581px;
  height:292px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
