body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:712px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:20px;
  width:712px;
  height:140px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:183px;
  width:662px;
  height:200px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u443_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
