body {
  margin:0px;
  background-color:rgba(85, 85, 85, 1);
  background-image:none;
  position:relative;
  left:-58px;
  width:1224px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:67px;
  width:375px;
  height:812px;
}
#u3437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:703px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 191, 191, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:178px;
  width:375px;
  height:703px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:67px;
  width:375px;
  height:111px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#1AA4EC;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:118px;
  width:33px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#1AA4EC;
}
#u3441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3441_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:119px;
  width:8px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u3442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
}
#u3442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:68px;
  width:375px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:76px;
  width:60px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3445 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:76px;
  width:34px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3446 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3446_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:76px;
  width:35px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3447 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:84px;
  width:4px;
  height:4px;
  display:flex;
  transition:none;
}
#u3448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u3448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:80px;
  width:25px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:82px;
  width:21px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:81px;
  width:3px;
  height:8px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u3452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3452_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:12px;
}
#u3452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:83px;
  width:3px;
  height:6px;
  display:flex;
  transition:none;
}
#u3453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3453_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:10px;
}
#u3453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:85px;
  width:3px;
  height:4px;
  display:flex;
  transition:none;
}
#u3454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3454_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:8px;
}
#u3454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:87px;
  width:3px;
  height:3px;
  display:flex;
  transition:none;
}
#u3455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3455_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:7px;
}
#u3455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:114px;
  width:193px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u3456 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3456_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:178px;
  width:7px;
  height:102px;
  display:flex;
  transition:none;
}
#u3457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3457_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:15px;
  height:110px;
}
#u3457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:68px;
  width:375px;
  height:812px;
}
#u3459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:703px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 191, 191, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:179px;
  width:375px;
  height:703px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:68px;
  width:375px;
  height:111px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#1AA4EC;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:119px;
  width:33px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#1AA4EC;
}
#u3463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3463_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:120px;
  width:8px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u3464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
}
#u3464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:69px;
  width:375px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:77px;
  width:60px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3467 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3467_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:77px;
  width:34px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3468 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3468_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:77px;
  width:35px;
  height:17px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3469 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3469_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:85px;
  width:4px;
  height:4px;
  display:flex;
  transition:none;
}
#u3470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u3470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:81px;
  width:25px;
  height:11px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:83px;
  width:21px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:82px;
  width:3px;
  height:8px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u3474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3474_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:12px;
}
#u3474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:84px;
  width:3px;
  height:6px;
  display:flex;
  transition:none;
}
#u3475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3475_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:10px;
}
#u3475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:86px;
  width:3px;
  height:4px;
  display:flex;
  transition:none;
}
#u3476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3476_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:8px;
}
#u3476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:88px;
  width:3px;
  height:3px;
  display:flex;
  transition:none;
}
#u3477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3477_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:7px;
}
#u3477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:115px;
  width:193px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u3478 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:744px;
  width:81px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3479_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#FFFFFF;
  line-height:18px;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:788px;
  width:285px;
  height:62px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#FFFFFF;
  line-height:18px;
}
#u3480 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 0px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:156px;
  width:318px;
  height:663px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:663px;
}
#u3481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:159px;
  width:318px;
  height:663px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:663px;
}
#u3482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:744px;
  width:7px;
  height:102px;
  display:flex;
  transition:none;
}
#u3483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3483_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:15px;
  height:110px;
}
#u3483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border-radius:4px;
  filter:drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:799px;
  width:320px;
  height:47px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3484 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u3484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:777px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u3485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:777px;
  width:0px;
  height:0px;
  transition:none;
}
#u3486_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-24px;
  width:10px;
  height:24px;
}
#u3486_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-24px;
  width:324px;
  height:10px;
}
#u3486_seg2 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:-29px;
  width:20px;
  height:20px;
}
#u3486_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-27px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
