body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:648px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:39px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:39px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:133px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:209px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:133px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u827_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:86px;
  height:10px;
}
#u827_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u828_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u828_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-5px;
  width:10px;
  height:104px;
}
#u828_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:89px;
  width:50px;
  height:10px;
}
#u828_seg3 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:84px;
  width:20px;
  height:20px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u829_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u829_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-5px;
  width:10px;
  height:180px;
}
#u829_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:165px;
  width:50px;
  height:10px;
}
#u829_seg3 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:160px;
  width:20px;
  height:20px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:84px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:209px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:39px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u832_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:96px;
  height:10px;
}
#u832_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u833_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u833_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:104px;
}
#u833_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:89px;
  width:53px;
  height:10px;
}
#u833_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:84px;
  width:20px;
  height:20px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u834_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u834_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:180px;
}
#u834_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:165px;
  width:53px;
  height:10px;
}
#u834_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:160px;
  width:20px;
  height:20px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:80px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:39px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u836_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:81px;
  height:10px;
}
#u836_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-10px;
  width:20px;
  height:20px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:133px;
  width:100px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:64px;
  width:0px;
  height:0px;
  transition:none;
}
#u838_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u838_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-5px;
  width:10px;
  height:104px;
}
#u838_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:89px;
  width:54px;
  height:10px;
}
#u838_seg3 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:84px;
  width:20px;
  height:20px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
