body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-102px;
  width:407px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:71px;
  width:385px;
  height:213px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:309px;
  width:407px;
  height:126px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
